---
name: Docker Deploy

on:
  push:
    branches:
      - master
    paths:
      - Dockerfile

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
                
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: kyungminkim7/openge:latest
