---
name: Docker

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - Dockerfile

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          tags: kyungminkim7/openge:latest
